body {
  background-color: black;
}

#word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#seconds-container,
#syllables-container,
#obscure-words-container,
#toggle-container,
#definition-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#seconds-container select,
#syllables-container select,
#obscure-words-container input[type="checkbox"],
#toggle-container button,
#definition-container button {
  flex: 1;
}

.label-text {
  font-size: 18px;
}

.word-text {
  font-size: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 10px;
}

.row1 {
  background-color: #333;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  height: 60vh;
}

.row2 {
  width: 20%;
  vertical-align: top;
}

.row3 {
  width: 30%;
  vertical-align: top;
}

.row4 {
  width: 45%;
  vertical-align: top;
}

.row5 {
  width: 5%;
  vertical-align: top;
}

.toggle-button {
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: green;
}

.definition-button {
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #993399;
}
