body {
  background-color: black;
}

#word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#seconds-container {
  margin-top: 20px;
  color: white;
}

#seconds-select {
  font-size: 16px;
  color: black;
}

#syllables-container {
  margin-top: 20px;
  color: white;
}

#syllables-select {
  font-size: 16px;
  color: black;
}

#obscure-words-container {
  margin-top: 20px;
  color: white;
}

#obscure-words-checkbox {
  font-size: 16px;
  color: black;
}

#toggle-container {
  margin-top: 20px;
}

#definition-container {
  margin-top: 20px;
}

#text-container {
  margin-top: 20px;
}


.label-text {
  font-size: 18px;
}

.word-text {
  font-size: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 10px; 
}

.row1 {
  background-color: #333;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  height: 60vh;
}

.row2 {
  width: 20%;
  vertical-align: top;
}

.row3 {
  width: 30%;
  vertical-align: top;
}

.row4 {
  width: 45%;
  vertical-align: top;
}

.row5 {
  width: 5%;
  vertical-align: top;
}

.toggle-button {
  /* width: 20%; */
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: green;
}

.definition-button {
  /*  width: 100%; */
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  background-color: #993399;
}

.text-control {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
