body {
  background-color: black;
}

#word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#seconds-container {
  margin-top: 20px;
  color: white;
}

#seconds-select {
  font-size: 16px;
  color: black;
}

#syllables-container {
  margin-top: 20px;
  color: white;
}

#syllables-select {
  font-size: 16px;
  color: black;
}

#toggle-container {
  margin-top: 20px;
}

.label-text {
  font-size: 18px;
}

.initial-text {
  font-size: 120px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 10px; 
}

.row1 {
  background-color: #333;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  height: 60vh;
}

.row2 {
  width: 20%;
  vertical-align: top;
}

.row3 {
  width: 30%;
  vertical-align: top;
}

.row4 {
  width: 30%;
  vertical-align: top;
}

.row5 {
  width: 20%;
  vertical-align: top;
}

.control-button {
  /* width: 20%; */
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: green;
}

.control-button.start {
  background-color: red;
}

.control-button.stop {
  background-color: green;
}
