body {
  background-color: black;
}

#word-container {
  text-align: center;
  margin-top: 100px;
  color: white;
}

#select-container {
  margin-top: 20px;
  color: white;
}

#number-select {
  font-size: 16px;
  color: black;
}

.initial-text {
  font-size: 90px;
}
